<template>
  <div>
    <img src="@/assets/logos/fedora-white.png" alt="Fedora" />
    <!-- TODO: Change from slot so that it is programmatically assigned it's context from the section of pages being used-->
    <slot></slot>
  </div>
</template>
